{% extends 'base.html' %}

{% block content %}
<div class="row contact mx-auto">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h1 class="ml-1 my-3">Contact Us</h1>
        <h3>For anything to do with your order or to make a complaint, please contact our Customer Service Department at <a href="fresh:sales@fresh.ie">fresh:sales@fresh.ie</a>.</h3>
        <p>
            <strong>For website and general feedback, please contact us:</strong>
        </p>
        <p>
            <strong>Email:</strong> <a href="mailto:info@4men.ie">info@4men.ie</a>
            <br />
            <strong>Tel:</strong> +353 (0)402 37425
            <br /><strong>Mob:</strong> +353 (0)86 2604990
            <br /><strong>Address:</strong> Fresh.ie, IrishSoft Limited, Tallaght, Co Dublin, Ireland.
        </p>
    </div>

</div>
{% endblock content %}