{% extends 'base.html' %}

{% block content %}

<h1 class="text-center">Grooming tips for men:</h1>
<div class="row">
    <div class="col-sm-3"></div>
        <div class="tips col-sm-6">
            <p><span class="text-danger font-weight-bold">1.</span> Growing, removing or keeping facial hair is a necessity. 
            Anyone who has trouble doing any of the above can find our
            grooming tips helpful.
            <br>
            <p class="font-weight-bold">For maintaining facial hair:</p> 
            -Always trim. Even if your facial hair is less than two inches thick,
            trimming your facial hair helps prevent irritation, itchiness
            and promotes evenness. 
            <br>
            -When shaving, depending on what you want left over,
            always use an electric razor and/or scissors if your beard is
            large so your shave is more efficient.</p>
            <br>
            <p><span class="text-danger font-weight-bold">2.</span> For fast facial hair growers who don't want to lather
            on shaving cream:
            <br><br>
            -Use conditioner or oil. This helps greatly
            reduce razor burns/bumps (reddening of the skin) due to the 
            fact that conditioner seeps into your skin and softens 
            up your hair follicles before you shave. 
            <br>
            -Otherwise, if you only shave thick beards, use shaving cream
            or shaving gel.</p> 
            <br>
            <p><span class="text-danger font-weight-bold">3.</span> Relating to the last point: 
            <br><br>
            -Before you apply that conditioner or shaving cream, 
            ALWAYS apply a hot towel or have a hot shower
            to ensure your hair follicles are easier to shave. Otherwise,
            a dry shave may result in an awkward, irritable shave and
            therefore increase the risk of razor burns.</p>
            <br>
            <p><span class="text-danger font-weight-bold">4.</span> An important must for anyone looking for 
            sooth skin:
            <br>
            <br>
            -Exfoliate before you shave. Or, if your beard is thick,
            cut most of your beard and then exfoliate before shaving.</p> 
            <br>
            <p><span class="text-danger font-weight-bold">5.</span> Shave every <span class="font-weight-bold font-italic">OTHER</span> day. Shaving two days in a row
            is fine but doing so regularly could increase the risk of
            razor burns or scarring (although this is very unlikely 
            it is always good to avoid).</p>
            <p class="font-weight-bold text-center">Video Tutorial</p>
            <video name='shavingTutorial' controls autoplay width='100%' height='20%'>
                    <source src="/static/video/shave.mp4" type="video/mp4"></source>
            </video>
        </div>
        
       
    <div class="col-sm-3"></div>
</div>
{% endblock content %}