<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script defer src="https://friconix.com/cdn/friconix.js"></script>
        <link rel="stylesheet" href="/static/style.css">
        <title>FreshShop</title>
    </head>
    <body>
        <div class="header-container row">
            <div class="col-2 col-sm-2 col-md-2">
                <header>
                    <img src="/media/images/fresh_logo_v2.png" width="190" height="140" class="img-fluid"alt="logo">
                </header>
            </div>
            <div class="col-8 col-sm-8 col-md-8 mt-2">
                <div class="account">
                    <ul class="navbar-nav d-inline-block">
                        {% if request.user.is_authenticated %}
                        <li class="nav-item d-inline signeout">
                            <a href="{% url 'signout' %}">Sign Out <i class="fi-xnsuxl-sign-out-solid"></i></a>
                        </li>
                        <li class="nav-item d-inline myaccount"> 
                            <a href="{% url 'order_history' %}">View Orders <i class="fas fa-sign-out-alt"></i></a>
                        </li>
                        <li class="cart">
                            {% with total_items=cart|length %}
                              {% if cart|length > 0 %}
                              <a href="{% url 'cart:cart_detail' %}">
                                <i class="fi-xwluhl-shopping-cart-wide"></i>
                                {{ total_items }} Item{{ total_items|pluralize }}
                                €{{ cart.get_total_price_after_discount }}
                              </a>
                              {% else %}
                              <i class="fi-xwluhl-shopping-cart-wide"></i>
                                0 item(s)
                              {% endif %}
                            {% endwith %}
                        </li>
                        {% else %}
                        <li class="nav-item d-inline">
                                <a href="{% url 'signup' %}">Sign Up <i class="fa fa-plus" aria-hidden="true"></i></a>
                        </li>
                        <li class="nav-item d-inline signin">
                            <a href="{% url 'signin' %}"> Sign In <i class="fi-xwsuxl-sign-in-solid"></i></a>  
                        </li>
                        <li class="nav-item d-inline cart">
                            {% with total_items=cart|length %}
                              {% if cart|length > 0 %}
                              <a href="{% url 'cart:cart_detail' %}">
                                    <i class="fi-xwluhl-shopping-cart-wide"></i>
                                {{ total_items }} Item{{ total_items|pluralize }}
                                €{{ cart.get_total_price }}
                              </a>
                              {% else %}
                                <i class="fi-xwluhl-shopping-cart-wide"></i>
                                0 item(s)
                              {% endif %}
                            {% endwith %}
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <form class="mt-1 ml-5 float-sm-right search input-group" action="{% url 'search_result' %}" method="GET">
                        {% csrf_token %}
                        <input class="form-control" type="search" placeholder="Search" aria-lable="Search" name="q">
                        <button class="search-button" type="submit"> <i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="col-2 col-sm-2 col-md-2"></div>
        </div>
        <nav class="row navbar navbar-expand-sm">
            <div class="col-sm-2"></div>
            <ul class="col-sm-8 navbar-nav mx-sm-3">
                <li class="nav-item mx-auto">
                    <a class="nav-link text-dark px-3" href="{% url 'shop:home' %}">Home</a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="nav-link text-dark px-3" href="{% url 'shop:product_list' %}">Products</a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="nav-link text-dark px-3" href="{% url 'shop:grooming_tips' %}">Grooming Tips</a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="nav-link text-dark px-3" href="{% url 'shop:contact_us' %}">Contact Us</a>
                </li>
            </ul>
            <div class="col-sm-2"></div>
        </nav>

        {% block content %}
        {% endblock content %}
        <footer class="footer navbar-fixed-bottom text-center font-weight-bold">
            ©IRISHSOFT LLC
        </footer>
    </body>
</html>